body {
  margin: 0;
}
header{
  background-image: url("Photos/Illustration.png");
background-color: #add4bd;
height: 30%;
background-position: center;
background-repeat: no-repeat;
background-size: 30% auto;
}
nav {
  width: 100%;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  float: left;
  margin: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  width: 12%;
  list-style: none;
  text-align: center;
}
a {
  color: rgb(0, 102, 0);
  text-decoration: none;
}

.icon{
width: auto;
  height: 100px;
  text-align: center;
margin: 20% 0% 0 35%;
}
#image {
  width: 24%;
}
#blankSpace {
  width: 16%;
  height: 34px;
}
.button {
  background-color: #4CAF50;
  border:none;
  border-radius: 25px;
  color: white;
  margin-top:10px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.tabs{
padding-right: 100px;
  padding-left: 100px;
  padding-top: 30px;
}
.card {
  margin-top: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin-right: 100px;

}

.section{
  width: 25%;
  float: left;
}


.banner {
    margin-left: 10%;
  width: 50%;
  justify-content: center;
  align-items: center;
}
.nav-style{
  padding-bottom: 7%;
  margin-left: 10%;
}
.container {
  padding: 2px 16px;
  text-align: center;
}
.onlinecourse {
 text-align: center;
 margin-top: 400px;

}
.icon2{
  width: auto;
    height: 100px;
    text-align: center;
  margin: 25% 0% 0 35%;